@use "reset";
@use "defaults";
@use "nav";

h1 {
    font-size: var(--font-size-xl);
    font-weight: 800;
    text-align: center;
    padding: 2rem;
    margin: 1.5rem 0 0 0;
}

.table-container {
    // box
    width: 100%;

    table {
        // box
        margin: 0 auto;
        tr {
            th {
                // box
                padding: 0.75rem 1.25rem;
                // text
                font-weight: 600;
                // border
                border: 0.2rem solid var(--bg3);
            }
            td {
                // box
                padding: 0.75rem 1.25rem;
                // border
                border: 0.2rem solid var(--bg3);
            }

            &.grade-9,
            &.grade-11 {
                background-color: var(--bg2);
            }

            // .grade-10, .grade-12 {}
        }
    }
}
